<h1>Условия действия</h1>



<table>
  <thead>
    <tr>
      <th>Класс</th>
      <th>Название</th>
      <th>Условие</th>
      <th>Значение</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @conditions.each do |condition| %>
      <tr>
        <td><%= condition.source_class %></td>
        <td><%= condition.source_name %></td>
        <td><%= condition.condition_class %></td>
        <td><%= condition.value %></td>
        <td><%= link_to 'Показать', condition %></td>
        <td><%= link_to 'Удалить', { controller: 'conditions', action: 'destroy', id: condition.id, act_id: @act.id},  data: { confirm: 'Вы уверены?' }, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новое условие', { controller: 'conditions', action: 'new', act_id: @act.id} %><br>
<%= link_to 'Назад к действию',  { controller: 'acts', action: 'show', id: @act.id } %>
