<p id="notice"><%= notice %></p>

<p>
  <strong>Act:</strong>
  <%= @condition.act_id %>
</p>

<p>
  <strong>Source class:</strong>
  <%= @condition.source_class %>
</p>

<p>
  <strong>Source name:</strong>
  <%= @condition.source_name %>
</p>

<p>
  <strong>Condition class:</strong>
  <%= @condition.condition_class %>
</p>

<p>
  <strong>Value:</strong>
  <%= @condition.value %>
</p>

<%= link_to 'Edit', edit_condition_path(@condition) %> |
<%= link_to 'Back', conditions_path %>
