<h1>Listing changes</h1>

<table>
  <thead>
    <tr>
      <th>Act</th>
      <th>Source class</th>
      <th>Source name</th>
      <th>Change class</th>
      <th>Change way</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @changes.each do |change| %>
      <tr>
        <td><%= change.act_id %></td>
        <td><%= change.source_class %></td>
        <td><%= change.source_name %></td>
        <td><%= change.change_class %></td>
        <td><%= change.change_way %></td>
        <td><%= change.value %></td>
        <td><%= link_to 'Show', change %></td>
        <td><%= link_to 'Edit', edit_change_path(change) %></td>
        <td><%= link_to 'Destroy', change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Change', new_change_path %>
