<h1>Лист изменений</h1>

<table>
  <thead>
    <tr>
      <th>Класс</th>
      <th>Название</th>
      <th>Изменение</th>
      <th>Путь</th>
      <th>Значение</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @changes.each do |change| %>
      <tr>
        <td><%= change.source_class %></td>
        <td><%= change.source_name %></td>
        <td><%= change.change_class %></td>
        <td><%= change.change_way %></td>
        <td><%= change.value %></td>
        <td><%= link_to 'Показать', change %></td>
        <td><%= link_to 'Удалить', { controller: 'changes', action: 'destroy', id: change.id, act_id: @act.id},  data: { confirm: 'Вы уверены?' }, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новое изменение', { controller: 'changes', action: 'new', act_id: @act.id} %><br>
<%= link_to 'Назад к действию',  { controller: 'acts', action: 'show', id: @act.id } %>