<p id="notice"><%= notice %></p>

<p>
  <strong>Act:</strong>
  <%= @change.act_id %>
</p>

<p>
  <strong>Source class:</strong>
  <%= @change.source_class %>
</p>

<p>
  <strong>Source name:</strong>
  <%= @change.source_name %>
</p>

<p>
  <strong>Change class:</strong>
  <%= @change.change_class %>
</p>

<p>
  <strong>Change way:</strong>
  <%= @change.change_way %>
</p>

<p>
  <strong>Value:</strong>
  <%= @change.value %>
</p>

<%= link_to 'Редактировать условие', { controller: 'changes', action: 'edit', act_id: @change.act_id } %><br>
<%= link_to 'Назад ко всем условиям', { controller: 'changes', action: 'index', act_id: @change.act_id }%>