<h1>Страницы книги '<%= @book.name %>'</h1>

<table>
  <thead>
    <tr>
      <th>Номер страницы</th>
      <th>Текст</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.number %></td>
        <td><%= page.text %></td>
        <td><%= link_to 'Посмотреть', page %></td>
        <td><%= link_to 'Удалить', { controller: 'pages', action: 'destroy', id: page.id, book_id: @book.id }, method: :delete, data: { confirm: 'Вы уверены?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Написать новую страницу', { controller: 'pages', action: 'new', book_id: @book.id} %><br>
<%= link_to 'Назад к книге',  { controller: 'books', action: 'show', id: @book.id } %>
