<p id="notice"><%= notice %></p>

<p>
  <strong>Книга:</strong>
  <%=  @book.name %>
</p>

<p>
  <strong>Номер страницы:</strong>
  <%= @page.number %>
</p>

<p>
  <strong>Текст:</strong>
  <%= @page.text %>
</p>

<%= link_to 'Редактировать текст', { controller: 'pages', action: 'edit', book_id: @book.id } %><br>
<%= link_to 'Смотреть и редактировать действия', { controller: 'acts', action: 'index', page_id: @page.id } %><br>
<%= link_to 'Назад к страницам', { controller: 'pages', action: 'index', book_id: @book.id }%>
