<h1>Мои книги</h1>

<table>
  <thead>
    <tr>
      <th>Автор</th>
      <th>Название</th>
      <th>Описание</th>
      <th>Статус</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
   <% @books.each do |book| %>
        <tr>
          <td><%= @user_name  %></td>
          <td><%= book.name %></td>
          <td><%= book.description %></td>
          <td><%= book.status %></td>
          <td><%= link_to 'Показать', book %></td>
          <td><%= link_to 'Удалить', book, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        </tr>
       <% end %>
  </tbody>
</table>

<%= link_to 'Домашняя страница', { controller: 'home', action: 'index'} %>
