<p id="notice"><%= notice %></p>

<h1>Имя персонажа: '<%= @character.name %>' (Книга: '<%= @character.book.name %>')</h1>

<h2>Описание:</h2>

<p>
  <%= @character.description %>
</p>

<h2>Характеристики персонажа</h2>

<table>
  <thead>
    <tr>
      <th>Характеристика</th>
      <th>Значение</th>
    </tr>
  </thead>

  <tbody>
    <% @character_attributes.each do |character_attribute| %>
      <tr>
        <td><%= character_attribute.default_attribute.name %></td>
        <td><%= character_attribute.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Способности персонажа</h2>

<table>

  <tbody>
  <% @character_abilities.each do |character_abilitiy| %>
    <tr>
      <td><%= character_abilitiy.default_ability.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2>Предметы персонажа</h2>

<table>
  <thead>
  <tr>
    <th>Название</th>
    <th>Количество</th>
  </tr>
  </thead>

  <tbody>
  <% @character_items.each do |character_item| %>
    <tr>
      <td><%= character_item.default_item.name %></td>
      <td><%= character_item.value %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Редактировать имя и описание', edit_character_path(@character) %><br>
<%= link_to 'Редактировать список предметов', { controller: 'character_items', action: 'index', character_id: @character.id } %><br>
<%= link_to 'Редактировать характеристики', { controller: 'character_attributes', action: 'index', character_id: @character.id } %><br>
<%= link_to 'Редактировать способности', { controller: 'character_abilities', action: 'index', character_id: @character.id } %><br>
<%= link_to 'Назад к списку персонажей',  { controller: 'characters', action: 'index', book_id: @character.book_id } %>
