<%= form_for(@character_item) do |f| %>
  <% if params[:errors] %>
          <% params[:errors].each do |msg| %>
            <li><%= msg %></li>
          <% end %>
  <% end %>

  <div class="field">
    <%= f.label :"Количество" %><br>
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit "Добавить" %>
  </div>
<% end %>


<script type="text/javascript">
    $(window).ready(function(){
        $(".hidden").hide();
    });
</script>
