<%= form_for(@character_item) do |f| %>
  <% if @character_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character_item.errors.count, "error") %> prohibited this character_item from being saved:</h2>

      <ul>
      <% @character_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :character_id %><br>
    <%= f.number_field :character_id %>
  </div>
  <div class="field">
    <%= f.label :default_item_id %><br>
    <%= f.number_field :default_item_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
