<h1>Listing character_items</h1>

<table>
  <thead>
    <tr>
      <th>Character</th>
      <th>Default item</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @character_items.each do |character_item| %>
      <tr>
        <td><%= character_item.character_id %></td>
        <td><%= character_item.default_item_id %></td>
        <td><%= character_item.value %></td>
        <td><%= link_to 'Show', character_item %></td>
        <td><%= link_to 'Edit', edit_character_item_path(character_item) %></td>
        <td><%= link_to 'Destroy', character_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character item', new_character_item_path %>
