<p id="notice"><%= notice %></p>

<p>
  <strong>Персонаж</strong>
  <%= @character_item.character.name %>
</p>

<p>
  <strong>Название</strong>
  <%= @character_item.default_item.name %>
</p>

<p>
    <strong>Описание</strong>
    <%= @character_item.default_item.description %>
</p>

<p>
  <strong>Количество</strong>
  <%= @character_item.value %>
</p>

<%= link_to 'Редактировать', { controller: 'character_items', action: 'edit', character_id: @character_item.character_id }%><br>
<%= link_to 'Назад к предметам', { controller: 'character_items', action: 'index', character_id: @character_item.character_id }%><br>
