<%= form_for(@act) do |f| %>
  <% if @act.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@act.errors.count, "error") %> prohibited this act from being saved:</h2>

      <ul>
      <% @act.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden">
    <%=  f.number_field :page_id , value: @page.id %>
  </div>

  <div class="field">
    <%= f.label :"Действие" %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :"Страница в случае успеха" %><br>
    <%= f.collection_select(:success_page, @all_book_pages , :id, :number, prompt: "Выберите страницу") %>
  </div>
  <div class="field">
    <%= f.label :"Страница в случае неудачи" %><br>
    <%= f.collection_select(:fail_page, @all_book_pages , :id, :number, prompt: "Выберите страницу") %>
  </div>
  <div class="field">
    <%= f.label :"Страница в случае нарушения условий времени" %><br>
    <%= f.collection_select(:time_fail_page, @all_book_pages , :id, :number, prompt: "Выберите страницу") %>
  </div>
  <div class="field">
    <%= f.label :"Требуемое время" %><br>
    <%= f.number_field :required_time %>
  </div>
  <div class="actions">
    <%= f.submit "Добавить" %>
  </div>
<% end %>


<script type="text/javascript">
    $(window).ready(function(){
        $(".hidden").hide();
    });
</script>

