<h1>Страница <%= @page.number %> из книги <%= @book.name %> </h1>

Текст:

<%= @page.text %>

<h1>Действия</h1>
<table>
  <thead>
      <th>Описание</th>
      <th>Номер страницы при соблюдении условий</th>
      <th>Номер страницы при несоблюдении условий</th>
      <th>Номер страницы при нарушении условия времени</th>
      <th>Требуемое время</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @acts.each do |act| %>
      <tr>
        <td><%= act.description %></td>
        <td><%= act.success_page %></td>
        <td><%= act.fail_page %></td>
        <td><%= act.time_fail_page %></td>
        <td><%= act.required_time %></td>
        <td><%= link_to 'Показать', act %></td>
        <td><%= link_to 'Удалить', { controller: 'acts', action: 'destroy', id: act.id, page_id: @page.id}, data: { confirm: 'Вы уверены?' }, method: :delete  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новое действие', { controller: 'acts', action: 'new', page_id: @page.id} %><br>
<%= link_to 'Назад к страницe',  { controller: 'pages', action: 'show', id: @page.id } %>