<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @act.page.text %>
</p>

<p>
  <strong>Description:</strong>
  <%= @act.description %>
</p>

<p>
  <strong>Success page:</strong>
  <%= @act.success_page %>
</p>

<p>
  <strong>Fail page:</strong>
  <%= @act.fail_page %>
</p>

<p>
  <strong>Time fail page:</strong>
  <%= @act.time_fail_page %>
</p>

<p>
  <strong>Required time:</strong>
  <%= @act.required_time %>
</p>

<%= link_to 'Редактировать действие', { controller: 'acts', action: 'edit', page_id: @act.page_id } %><br>
<%= link_to 'Смотреть и редактировать условия по предметам', { controller: 'item_conditions', action: 'index', act_id: @act.id } %><br>
<%= link_to 'Смотреть и редактировать условия по характеристикам', { controller: 'attribute_conditions', action: 'index', act_id: @act.id } %><br>
<%= link_to 'Смотреть и редактировать условия по способностям', { controller: 'ability_conditions', action: 'index', act_id: @act.id } %><br>
<%= link_to 'Смотреть и редактировать изменения при переходе по предметам', { controller: 'item_changes', action: 'index', act_id: @act.id } %><br>
<%= link_to 'Смотреть и редактировать изменения при переходе по характеристикам', { controller: 'attribute_changes', action: 'index', act_id: @act.id } %><br>
<%= link_to 'Смотреть и редактировать изменения при переходе по способностям', { controller: 'ability_changes', action: 'index', act_id: @act.id } %><br>
<%= link_to 'Назад к действиям', { controller: 'acts', action: 'index', page_id: @act.page_id }%>
